body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body > * {
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #1c1e21;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.error {
    background-color: #ffebe9;
    color: #d73a49;
    border: 1px solid rgba(215, 58, 73, 0.4);
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
    visibility: hidden;
}

p {
    font-weight: 600;
    color: #4b4f56;
    margin-bottom: 8px;
    
}